*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
body{
    /* background-color: black; */
}
html{
    scroll-behavior: smooth;
}

.navbar{
    background-color: black;
    height: max-content;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;


}

/* Slide bar */
.slidebar{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height:90vh;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-size: 30px;
    padding:20px;

}
 a{
    text-decoration: none;
    color: black;
}

.nav-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    position: sticky;
    z-index: 2;
    height: 100px;
    padding: 0px 20px;
}

/* Navigation slidebar btn */

.navbar button{
    height: 40px;
    width: 40px;
    background: none;
    border: none;

}
.navbar img{
    height: 40px;
    filter: invert(100%);
}

/* Navigation right side */
.nav-right{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

