*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 20px;
    gap: 30px;
}
input{
    width: 40%;
    height: 25px;
    padding-left: 10px;
}
button{
    width: 40%;
    height: 25px;
}
